html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Adobe Caslon";
  line-height: 1.5;
}

img {
  width: 100%;
}

.logo {
  width: 100px;
  height: 50px;
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: "Classico URW";
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Classico URW"
}

.banner-ocean {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Classico URW";
}
nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 2em;
  text-transform: uppercase;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2rem;
  width: 100%;
  height: 80vh;
  background-color: #ffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  align-content: center;
}


h1 {
  font-weight: bold;
  padding-left: 2rem;
  grid-column: 1 / -1;
  grid-row: 2;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1.125rem;
  text-decoration: none;
  max-width: 200px;
  align-content: center;
}

.nav {
  background-color: #CB9382;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}


.left-ocean img {
  max-width: 85%;
}

.right-ocean {
  margin-right: 200px;
  text-align: center;
  background-color: #A7C8EA;
  display: block;
  background-color: #A7C8EA;
  max-width: 400px;
  max-height: 400px;

}

.banner-ocean {
  width: 100%;
  height: 80vh;
  background-color: #A7C8EA;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.right-honey {
  margin-right: 200px;
  text-align: center;
  background-color: #F7C63C;
  display: block;
  background-color: #F7C63C;
  max-width: 400px;
  max-height: 400px;
}

.left-honey img{
  max-width: 90%;
}

.split-banner {
  width: 100%;
  height: 80vh;
  background-color: #F7C63C;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bottom {
  background-color: #A7C8EA;
  margin: auto 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.about {
  background-color: #EDE4DB;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.about-page img {
  border-radius: 40px;
}

.products {
  background-color: #F7C63C;
  padding-top: 2em;
  padding-bottom: 2em;
}

.products img {
  border-left: 10px solid #EDE4DB;
  border-right: 10px solid #EDE4DB;
}

.products h3 {
  font-weight: bold;
  text-align: center;
}

.products h2 {
  text-transform: uppercase;
}

.accesories {
  background-color: #EDE4DB;
  padding: 2em;
}

.accesories h2 {
  text-transform: uppercase;
}

.accesories h3 {
  text-align: center;
  font-weight: bold;
}

.faq {
  background-color: #A7C8EA;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.faq h2 {
  color: #ffff;
}

div ul {
  background-color: #CB9382;
  margin: 1em;
  border-radius: 20px;
  padding: 2em;
}

li span {
  color: #ffff;
  font-size: 1.2rem;
  margin-right: .5em;
}

.owners {
  background-color: #EDE4DB;
  padding-top: 20px;
  padding-bottom: 20px
}

.contact-us {
  color: #ffff;
  background-color: #A7C8EA;
  padding-top: 20px;
}

.contact-us img {
  max-width: 30px;
}

.button {
  background-color: #F7C63C;
  border-radius: 20px;
  text-align: center;
  padding: .3em 0;
  margin: 1em 0;
}

.badges {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .5em;
  grid-template-columns: 1fr 1fr;
  min-width: 25%;
  margin: 0 35%;
}

.couple {
  border-radius: 50%;
}

.faq img {
  max-width: 40px;
}

.faq h2::after {
  font-family: "Material Icons Outlined";
  content: 'help';
  margin-left: 1em;
}

.contact-info h2::after {
  font-family: "Material Icons Outlined";
  content: 'alternate_email';
  margin-left: 1em;
  align-items: center;
}

.logo-small {
  min-width: 20%;
}

.contact-details{
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  background-color: #CB9382;
  color: #ffff;
  padding: 1em;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (min-width: 38em) {

.about-flex {
  display: flex;
  align-items: center;
}

.about-flex img {
  width: 250%;
}

.new-product-section {
  display: flex;
  align-items: center;
}

.new-product-section img {
  width: 250%;
  margin-right: 1em;
}

.key-ingredients {
  display: flex;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.accesories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.owners-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.couple {
  min-width: 30%;
  padding-right: 1em;
}

.button {
  min-width: 10px;
}

.faq ul {
  margin: 20px 80px;
}

.badges {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: .4em;
  max-width: 2000px;
}

.key-ingredient p {
  margin-right: .1em;
}
}

@media only screen and (min-width: 70em) {

.question-grid {
    display: grid;
    grid-template-columns: 1fr 1fr
  }
}

.product-grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.accesories-grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
}
