html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Adobe Caslon";
  line-height: 1.5;
}

img {
  width: 100%;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
  margin-left: 1.125rem;
  text-decoration: none;
  align-content: center;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: "Classico URW";
  font-weight: bold;
  text-transform: uppercase;
  padding-left: .5rem;
  /* grid-column: 1 / -1;
  grid-row: 2; */
  text-transform: uppercase;
  z-index: 1;
}

h2 {
  font-family: "Classico URW"
}

.banner h2 {
  font-size: .85em;
}

.banner-ocean {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #A7C8EA;
}

nav ul {
  display:flex;
  justify-content: flex-end;
  align-content: center;
  font-family: "Classico URW";
  z-index: 1;
}
nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  font-size: .75em;
  padding-left: .25em;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: .5s;
}

nav a:hover {
  color: #000;
  background-color: #A7C8EA;
}

.banner {
  background-image: url(../images/banner-yellow.jpg);
  width: 100%;
  background-color: #0000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h2 {
  text-align: center;
}

.banner-logo {
  max-width: 50%;
}

.nav {
  background-color: #CB9382;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.left-ocean {
  width: 50%;
  display: flex;
  align-items: stretch;
}

.left-ocean img {
  object-fit: cover;
  object-position: 100%;
  height: 80vh;
}

.right-ocean {
  text-align: center;
  background-color: #A7C8EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.left-honey {
  width: 50%;
  display: flex;
  align-items: stretch;
}

.left-honey img {
  object-fit: cover;
  object-position: 100%;
  height: 80vh;
}

.right-honey {
  text-align: center;
  background-color: #F7C63C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.split-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F7C63C;
}

.bottom {
  background-color: #A7C8EA;
  margin: auto 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.about {
  background-color: #EDE4DB;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.about-page img {
  border-radius: 40px;
}

.products {
  background-color: #F7C63C;
  padding-top: 2em;
  padding-bottom: 2em;
}

.products img {
  border-left: 10px solid #EDE4DB;
  border-right: 10px solid #EDE4DB;
  flex-wrap: wrap;
}

.products h3 {
  font-weight: bold;
  text-align: center;
}

.products h2 {
  text-transform: uppercase;
}

.accesories {
  background-color: #EDE4DB;
  padding: 2em;
}

.accesories h2 {
  text-transform: uppercase;
}

.accesories h3 {
  text-align: center;
  font-weight: bold;
}

.faq {
  background-color: #A7C8EA;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

.faq h2 {
  color: #ffff;
}

div ul {
  background-color: #CB9382;
  margin: 1em;
  border-radius: 20px;
  padding: 2em;
}

li span {
  color: #ffff;
  font-size: 1.2rem;
  margin-right: .5em;
}

.owners {
  background-color: #EDE4DB;
  padding-top: 20px;
  padding-bottom: 20px
}

.contact-us {
  color: #ffff;
  background-color: #A7C8EA;
  padding-top: 20px;
}

.contact-us img {
  max-width: 30px;
}

.button {
  background-color: #F7C63C;
  border-radius: 20px;
  text-align: center;
  padding: .8em 0;
  margin: 1em 0;
}

.button a {
  text-decoration: none;
  color: #000;
}

.button a:hover {
  text-decoration: underline;
  color: #CB9382;
}

.badges {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: .5em;
  grid-template-columns: 1fr 1fr;
  min-width: 25%;
  margin: 0 35%;
}

.couple {
  border-radius: 50%;
  min-width: 50%;
}

.owners-grid {
  display: none;
}

.faq img {
  max-width: 40px;
}

.faq h2::after {
  font-family: "Material Icons Outlined";
  content: 'help';
  margin-left: 1em;
}

.contact-info h2::after {
  font-family: "Material Icons Outlined";
  content: 'alternate_email';
  margin-left: 1em;
  align-items: center;
}

.logo-small {
  min-width: 20%;
}

.contact-details{
  display: flex;
  justify-content: space-between;
}

.banner h2 {
  padding: 4em;
}

.banner h1 {
  padding: 1.7em;
}

.banner-logo {
  max-width: 50%;
}

footer {
  text-align: center;
  background-color: #CB9382;
  color: #ffff;
  padding: 1em;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (min-width: 500px) and (max-width: 1100px){

nav a {
  font-size: 1em;
}

.banner h2 {
  font-size: 2em;
}

.about-flex {
  display: flex;
  align-items: center;
}

.about-flex img {
  width: 250%;
  margin-left: 1em;
}

.new-product-section {
  display: flex;
  align-items: center;
}

.new-product-section img {
  width: 250%;
  margin-right: 1em;
}

.key-ingredients {
  display: flex;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.accesories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.owners-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.couple {
  width: 20%;
  padding-right: 1em;
}

.faq ul {
  margin: 20px 80px;
}

.badges {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: .4em;
  max-width: 2000px;
}

.key-ingredient p {
  margin-right: .1em;
}

nav a {
  padding: 1em;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  min-width: 60px;
  min-height: 30px;
}
}

@media only screen and (min-width: 1101px){

nav a {
  font-size: 1em;
  padding: 1.5em;
}

.logo {
  width: 9%;
}

.about-flex {
  display: flex;
  align-items: center;
}

.about-flex img {
  width: 250%;
  margin-left: 1em;
}

.new-product-section {
  display: flex;
  align-items: center;
}

.new-product-section img {
  width: 100%;
  margin-right: 1em;
}

.key-ingredients {
  display: flex;
  align-items: center;
}

.key-ingredients img {
  margin-left: 1em;
}

.question-grid {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  }
}

.banner h1 {
  margin: 0;
}

.banner-logo {
  max-width: 40%;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.accesories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.owners-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.couple {
  width: 30%;
  padding-right: 1em;
}

.faq ul {
  margin: 20px 80px;
}

.badges {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: .4em;
  max-width: 2000px;
}
}
